.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
header nav h3 {
  font-size: 32px;
}
header nav button {
  padding: 15px 30px;
  color: #006a50;
  font-size: 18px;
  border: 2px solid #006a50;
  background-color: transparent;
  border-radius: 8px;
  margin: 24px 0;
  font-weight: 600;
}
header nav button:hover {
  background-color: #006a50;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
main {
  max-width: 1280px;
  margin: 0 auto;
}

section img {
  width: 475px;
}

.hero {
  background-color: #c3e4d7;
  padding: 117px 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  border-radius: 24px;
}
section .hero-title {
  font-size: 24px;
  font-weight: 500px;
  color: #697972;
}

section .hero-description {
  font-size: 56px;
  font-weight: bold;
  padding: 16px 0px 24px 0;
}

section .card-container {
  display: flex;
  gap: 24px;
  align-items: stretch;
  justify-content: space-between;
}
section .pillars-card {
  width: 302px;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid #dbdbdb;
  background-color: white;
}
section .pillars-card:hover {
  background-color: #c3e4d7;
  transition: 0.4s ease;
  cursor: default;
  border: 2px solid black;
}

section .vision-card {
  width: 410px;
  padding: 34px;
  border-radius: 16px;
  border: 2px solid transparent;
  cursor: default;
  display: flex;
  flex-direction: column;
}
section .vision-card:hover {
  border: 2px solid black;
}
.vision-card:nth-child(1) {
  background-color: #d5e1f4;
}
.vision-card:nth-child(2) {
  background-color: #c3e4d7;
}

.vision-card:nth-child(3) {
  background-color: #f7ebd1;
}

.vision-card button {
  padding: 11px 20px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.speech {
  width: 100%;
  margin-top: 32px;
  padding: 48px 24px;
  background-image: url("assets/quote-bg.png");
  background-position: top 25px left 25px;
  background-repeat: no-repeat;
  border: 2px solid #dbdbdb;
  border-radius: 16px;
}
.speech p {
  font-size: 16px;
  line-height: 22px;
  color: #3e3e3e;
  margin-bottom: 12px;
}
.speech h3 {
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}
.speech span {
  color: #6e6e6e;
}
.opinion-container {
  padding: 32px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
}
.openion-title {
  display: flex;
  padding: 37px 24px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #dbdbdb;
  background-color: #c3e4d7;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 2px solid #dbdbdb;
  padding: 37px 24px;
  font-size: 16px;
  font-weight: 600;
}
select {
  padding: 13px 17px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid black;
  background-color: #c3e4d7;
  cursor: pointer;
}
table .Question {
  width: 85%;
}

.news-container {
  width: 100%;
  background-color: white;
  padding: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  margin-bottom: 24px;
}
.news-image {
  width: 408px;
  border-radius: 24px;
}

.news-title {
  font-size: 32px;
  font-weight: bold;
  color: #3e3e3e;
}
.news-source {
  height: 40px;
  width: 134px;
}
.news-time {
  display: flex;
  gap: 12px;
  color: #565656;
  font-size: 16px;
  padding: 12px 0;
}
.news button {
  padding: 13px 26px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
}

.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 104.5px;
  margin-bottom: 80px;
}

.donate-card-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.donate-card {
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
}
.donate-card:hover {
  background-color: #ffc34c;
  cursor: pointer;
  transition: 0.4s ease;
}
.donate-card:nth-child(2) {
  background-color: #c3e4d7;
}
.donate-input {
  width: 95%;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  font-size: 20px;
  text-align: center;
  margin: 32px 0;
  outline: none;
}
.subscribe {
  width: 100%;
  background-color: #c3e4d7;
  padding: 80px;
  border-radius: 24px;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.subscribe-input {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.subscribe-input input {
  width: 100%;
  padding: 18px 40px;
  border: none;
  font-size: 16px;
}
.subscribe-input button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.subscribe p {
  margin-top: 24px;
  text-align: center;
  color: #444e4a;
  font-size: 16px;
}

footer {
  padding-top: 50px;
  background-color: white;
  text-align: center;
  max-width: 1600px;
  margin:0 auto;
  margin-top: 80px;
}
footer h1 {
  font-size: 32px;
  font-weight: bold;
}
footer hr {
  max-width: 1122px;
  margin: 32px auto;
}
footer .icon {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
footer img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}


/* shared items */

.btn {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
}

.green-btn {
  background-color: #006a52;
  border: 2px solid #006a52;
}
.green-btn:hover {
  background: transparent;
  transition: 0.6s;
  color: black;
  cursor: pointer;
}
.blue-btn {
  background-color: #558ff0;
  border: 2px solid #558ff0;
}
.blue-btn:hover {
  background: transparent;
  color: black;
  transition: 0.6s;
}

.light-green-btn {
  background-color: #00a062;
  border: 2px solid #00a062;
}
.light-green-btn:hover {
  background: transparent;
  color: black;
  transition: 0.6s;
}

.orange-btn {
  background-color: #ffc34c;
  border: 2px solid #ffc34c;
}
.orange-btn:hover {
  background: transparent;
  color: black;
  transition: 0.6s;
}

.section-title {
  padding: 80px 0 32px 0;
  font-size: 40px;
  font-weight: bold;
}
.section-description {
  font-size: 16px;
  color: #535353;
  padding-bottom: 32px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 24px 0;
  color: #3e3e3e;
}
.card-description {
  font-size: 16px;
  color: #565656;
  flex-grow: 1;
}
.card-image {
  height: 64px;
  width: 64px;
}
